/*#timeLabel {*/
/*  font-size: 68;*/
/*  font-family: Seville-Book;*/
/*  text-length: 32;*/
/*  text-anchor: middle;*/
/*  x: 50%-10;*/
/*  y: 40%;*/
/*  fill: #ffffff;*/
/*}*/

#timeLabel {
    font-size: 68;
    font-family: Seville-Book;
    display-align: center;
    text-length: 32;
    text-anchor: middle;
    x: 50%-10;
    y: 35%;
    fill: #ffffff;
}

#secLabel {
  font-size: 30;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 70%+10;
  y: 35%;
  fill: #a0a0a0;
}

#dateLabel {
  font-size: 25;
  font-family: Colfax;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 45%;
  fill: #a0a0a0;
}

#hrm {
  font-size: 30;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 250;
  y: 10%;
  fill: #a0a0a0;
}

#steps {
  font-size: 30;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 35;
  y: 10%;
  fill: #a0a0a0;
   /*  fill: #38f8df; */
}

#devMemoryLabel {
  font-size: 30;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 90;
  y: 10%;
  fill: #a0a0a0;
  /*x: 260;
  y: 15%; */
   /*  fill: #38f8df; */
}

#devHeartStorageLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 250;
  y: 95%;
  fill: #a0a0a0;
}

#devErrorLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 48%;
  fill: #f83478;
}

#devErrorMessageLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 53%;
  fill: #f83478;
}

#hrmIcon {
  x: 220;
  y: 3%;
  width: 22;
  height: 22;
  fill: #a0a0a0;
}

#stepIcon {
  x: 7;
  y: 3%;
  width: 22;
  height: 22;
  fill: #a0a0a0;
}

.comfyLabel {
  font-size: 25;
  font-family: Colfax;
  text-length: 32;
  text-anchor: middle;
  fill: #a0a0a0;
}

#storageLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 25;
  y: 95%;
  fill: #a0a0a0;
}

.circle_comfy {
    r: "35";
    fill: #10A30B;
}